.header a {
    display: inline-block;
    vertical-align: top; /* Adjust if multi-line text */
    margin: 10px;
    padding: 5px;
    width: 120px;
    color: #333;
    text-align: center;
    text-decoration: none;
}
.header a img {
    margin: 1px;
    border: 0;
    mix-blend-mode: multiply;
    background-image:none;
}
.header span {
    text-align: center;
    color: #61dafb;
    margin: 9px;
    column-span: all;
}
.navbar-color {
    color: #FFFFFF;
    background-color: #401E6B;
}
.img-box img {
    background: none !important;
    background-image:none;
}


.navbar-nav li a{
    color: white !important;
}
.btn-space {
    margin-right: 20px;
    margin-left: 20px;
}
.radio-space-wrapper {
    margin-right: 20px;
    margin-left: 15px;
}
.radio-space {
    margin-right: 10px;
    margin-bottom: 0px;
}
input[type='radio'], label{   
    vertical-align: baseline;
}
.radio label > span {
    display: inline-block;
    vertical-align: middle;
}
.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }